.continar {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.background {
  background-color: var(--color-whitesmoke);
  display: grid;
  grid-template-columns: 15% 1fr;
}

.mainContinar {
  width: 100%;
  max-height: calc(100vh - 80px);
  /* Adjust as needed, subtracting header height */
  flex-direction: column;
  overflow: hidden;
}

.chatContinar {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;

}

.inputContainer {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  border-radius: var(--br-5xs);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-dimgray-200);
  padding: 8px 48px 8px 12px;
  margin-inline: 24px;
  margin-top: 12px;
  margin-bottom: 24px;
  background-color: var(--color-whitesmoke);
}

.input {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: transparent;
  align-self: stretch;
  flex: 1;
  font-family: var(--font-roboto);
  border-radius: var(--br-5xs);
  font-size: medium;
  overflow: auto;
  /* Enable vertical scrolling if needed */
  resize: none;
  line-height: 1.5;
  min-height: 26px;
  /* Reset the minimum height */
}

.sendIcon {
  height: 32px;
  width: 32px;
  overflow: hidden;
  flex-shrink: 0;
  margin-left: 8px;
  cursor: pointer;
  position: absolute;
}

.messages {
  overflow-y: auto;
  max-height: calc(100vh - 160px);
  width: 98%;
  left: 51%;
  padding-inline: 16%;
  transform: translateX(-50%);
  position: fixed;
}

.message {
  display: flex;
  padding: 8px 12px;
  margin-block: 16px;
  border-radius: 5px;
  align-items: flex-start;
}

.user {
  background-color: var(--color-snadytrans);
  align-self: flex-start;
  padding-block: 16px;
}

.systemMessage {
  background-color: transparent;
  align-self: flex-end;
  padding-block: 16px;
}

.profileIcon {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  /* Make it circular */
  overflow: hidden;
  /* Ensure image or icon stays within the circle */
}

.profileImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* Ensure the image covers the entire circle */
}

.placeholderIcon {
  width: 100%;
  height: 100%;
}

.logo {
  width: 20px;
  height: 20px;
}

.logoImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* Ensure the image covers the entire container */
  border-radius: 100%;
}

.messageText {
  align-self: flex-end;
  margin-left: 8px;
  margin-right: 8px;
  text-align: left;
  margin-top: 0;
}

.messageContinar {
  width: 93%;
}

.pdfContinar {
  border: 1px solid var(--color-divider);
  border-radius: 8px;
  padding: 16px;
  margin: 32px 16px 16px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pdfImg {
  width: 32px;
  height: 36px;
  margin-right: 16px;
}

.pdfTextsContainr {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 75%;
  padding-right: 16px;
}

.pdfTitle {
  align-self: flex-start;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
  max-height: 40px;
}

.pdfPublisher {
  align-self: flex-start;
  font-weight: 400;
  margin-top: 4px;
  font-size: small;
  color: var(--color-dimgray-100);
}

.buttonChat {
  background-color: var(--color-sandybrown);
  border-radius: var(--br-5xs);
  cursor: pointer;
  color: white;
  border: 0;
  height: 42px;
  width: 148px;
  font-weight: 600;
}

.buttonChat:hover {
  background-color: var(--color-peru-100);
}

.sidebar {
  height: calc(100vh - 80px);
  background-color: var(--color-whitesmoke);
  position: relative;
  overflow: auto;
  padding-inline: 8px;
}

.sidebarButton {
  position: absolute;
  top: 3.5%;
  cursor: pointer;
  width: 28px;
  height: 28px;
  border-radius: 8px;
  margin-left: 8px;
  display: none;
}

.sidebarImg {
  margin: 2px 0 0 2px;
}

.sidebarButton:hover {
  background-color: #bababa48;
}

.chatHistoryContainer {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.dateSection {
  margin-bottom: 20px;
}

.dateHeader {
  padding: 10px 0;
  position: -webkit-sticky;
  /* For Safari */
  position: sticky;
  top: 0;
  z-index: 2;
  /* Ensure it stays on top of other content */
  color: #919191;
  font-size: 12px;
  margin-top: -1px;
  background-color: var(--color-whitesmoke);
}

.chatList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.chatItem {
  margin-bottom: 8px;
  border-radius: 8px;
  z-index: 1;
  /* Ensure the links are above other content */
  position: relative;
  /* Ensure the z-index works */
}

.chatLink {
  cursor: pointer;
  text-decoration: none;
  text-align: start;
  color: var(--color-dimgray-200);
  display: block;
  padding: 6px;
  border-radius: 4px;
  background-color: var(--color-lightgray);
  z-index: 1;
  white-space: nowrap;
  overflow: hidden;
  font-size: 14px;
  text-overflow: ellipsis;
}

.chatItem:hover {
  background-color: #bababa48;
}

.editIcon {
  cursor: pointer;
  padding: 4px;
  width: 28px;
}

.editIcon:hover {
  background-color: #bababa48;
  border-radius: 50%;
}

.editTextarea {
  width: 100%;
  min-height: 60px;
  padding: 10px;
  box-sizing: border-box;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: transparent;
  resize: none;
  overflow: hidden;
  outline: none;
  font-family: var(--font-roboto);
}

.editButtons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 10px;
}

.documentButton,
.cancelButton {
  padding: 6px 12px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.documentButton {
  background-color: #4caf50;
  color: white;
}

.cancelButton {
  background-color: #f44336;
  color: white;
}

.loading {
  width: 64px;
  scale: 3;
  margin-left: 32px;
  margin-top: -24px;
}

@media screen and (max-width: 840px) {
  .input {
    font-size: 13px;
  }

  .sendIcon {
    height: 28px;
    width: 28px;
    margin-top: 2px;
  }

  .inputContainer {
    position: fixed;
    transform: translateX(-50%);
    width: 75%;
    left: 55%;
  }

  .messages {
    max-height: calc(100vh - 160px);
    width: 88%;
    left: 55%;
    padding-inline: 2%;
    transform: translateX(-50%);
    position: fixed;
  }

  .messageText {
    font-size: 12px;
    font-weight: 400;
    width: 65vw;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .message {
    margin: 16px;
  }

  .pdfImg {
    width: 20px;
    height: 26px;
    margin-right: 10px;
  }

  .pdfContinar {
    padding: 12px;
    margin: 24px 8px 8px 8px;
  }

  .pdfTitle {
    font-size: 12px;
  }

  .pdfPublisher {
    font-size: 11px;
  }

  .buttonChat {
    font-size: 12px;
    height: 30px;
    font-weight: 600;
  }

  .sidebar {
    display: none;
  }

  .sidebarButton {
    display: flex;
  }
}


@media screen and (max-width: 540px) {
  .input {
    font-size: 11px;
  }

  .sendIcon {
    height: 24px;
    width: 24px;
    margin-top: 4px;
  }

  .inputContainer {
    position: fixed;
    transform: translateX(-50%);
    width: 90%;
    left: 45%;
  }

  .messages {
    max-height: calc(100vh - 160px);
    width: 95%;
    left: 50%;
    padding-inline: 2%;
    transform: translateX(-50%);
    position: fixed;
  }

  .messageText {
    font-size: 11px;
    font-weight: 400;
    width: 65vw;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .message {
    margin: 16px;
  }

  .pdfImg {
    width: 20px;
    height: 26px;
    margin-right: 10px;
  }

  .pdfContinar {
    padding: 10px;
    margin: 24px 8px 8px 8px;
  }

  .pdfTitle {
    font-size: 11px;
  }

  .pdfPublisher {
    font-size: 10px;
  }

  .buttonChat {
    font-size: 11px;
    height: 28px;
    font-weight: 600;
  }
}

@media screen and (max-width: 350px) {

  .inputContainer {
    left: 43%;
  }

  .pdfContinar {
    width: 100%;
  }

  .pdfTextsContainr {
    width: 70%;
  }
}