.searchpage {
  text-align: center;
  height: 100vh;

}
.search {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 8rem;
  gap: 4rem;
  height: 100%;
  background-color: var(--color-whitesmoke);
}


.standard {
  color: var(--color-sandybrown);
}
.searchInMoreContainer {
  margin: 0;
  flex: 1;
  font-size: 1.5rem;
  font-weight: 700;
}


.horizontalLine {
  width: 100%;
  margin: 0;
  border: none;
  border-top: 1px solid var(--color-divider); /* Adjust color as needed */
}
.moreFilterDiv {
  display: flex;
  width: 100%;
  align-items: center; 
}

.morefilter {
  margin: 0 16px; /* Adjust margin as needed */
  width: 30%;
}


@media screen and (max-width: 960px) {
  .searchInMoreContainer {
    font-size: 22px;
  }
}


@media screen and (max-width: 768px) {
  .searchInMoreContainer {
    font-size: var(--font-size-lg);
    flex: 1;
  }

  .search {
    padding-inline: 10% ;
  }

  .moreFilterDiv {
    width: 95vw;
  }
  
}


@media screen and (max-width: 540px) {
  .search{
    padding-top: 6rem;
    gap: 2rem;
  }
  .searchInMoreContainer {
    font-size: 1rem;
  }

  .promotiontext {
    margin-bottom: 16px;
  }

  .moreFilterDiv {
    margin-top: 16px;
    width: 90vw;
  }
}


@media screen and (max-width: 420px) {

  .promotiontext {
    margin-bottom: 16px;
  }
  
  .morefilter {
    margin: 0 16px; /* Adjust margin as needed */
    font-size: small;
  }

  .moreFilterDiv {
    margin-top: 16px;
    width: 90vw;
  }

}


@media screen and (max-width: 350px) {
  .promotiontext {
    margin-bottom: 16px;
  }

  .morefilter {
    margin: 0 16px; /* Adjust margin as needed */
  }

}
