.nave {
  align-self: stretch;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.publishercoverIcon {
  height: 160px;
  width: 130px;
  position: relative;
  border-radius: var(--br-5xs);
  object-fit: cover;
  cursor: pointer;
}
.title {
  position: relative;
  font-size: var(--font-size-lg);
  color: var(--color-dimgray-200);
}
.titleParent {
  overflow: hidden;
  padding: var(--padding-3xs);
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-inter);
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
 
}
.frameChild {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid #b1b1b1;
  box-sizing: border-box;
  margin-top: 8;
  width: 80%;
}
.frameContainer,
.searchresultpage,
.searchresultpageInner {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.frameContainer {
  width: auto;
  max-width: 1340px;
  /* Take up remaining space */
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  gap: var(--gap-base);
}
.searchresultpage,
.searchresultpageInner {
  align-items: center;
}
.searchresultpageInner {
  align-self: stretch;
  flex: 1;
  
}
.searchresultpage {
  width: 100%;
  position: relative;
  background-color: var(--color-white);

}
.mainContent {
  margin-top: 24px;
  margin-bottom: 0px;
  flex: 1;
  list-style-type: none; 
}
.designation{
  font-size: small;
  color: var(--color-dimgray-100);
}
.sidebar {
  flex: 0 0 20%;
  /* 15% width */
}
.container {
  display: flex;
  margin: 0;
  padding: 0;
  height: 75vh;
}
.searchSection {
  padding-top: 15px !important;
}
