.textinput {
    border: none;
    outline: none;
    align-self: stretch;
    background: transparent;
    border-radius: var(--br-5xs);
    filter: drop-shadow(0 4px 4px transparent);
    font-size: 1.2rem;
    padding-left: 12;
    padding-right: 12;
    width: 100%;
  }
  .textinput:-webkit-autofill,
  .no-autocomplete-highlight:-webkit-autofill:hover,
  .no-autocomplete-highlight:-webkit-autofill:focus,
  .no-autocomplete-highlight:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px var(--color-whitesmoke) inset !important;
  }
  .send1Icon {
    height: 40px;
    width: 40px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    margin-right: 16px;
    cursor: pointer;
  }
  .textinputParent {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: var(--br-5xs);
    border: 1px solid var(--color-dimgray-200);
    padding: 0 0 0 var(--padding-base);
    gap: var(--gap-5xs);
    width: 70%;
    min-height: 57px;
  }

  @media screen and (max-width: 768px) {
    .textinputParent {
      width: 100%;
    }
  }

  