@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

.container {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px; 
    background-color: #fff; 
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075); 
    height: fit-content;
  }

  .header {
    display: flex;
    height: 3.5rem;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #E5E7EB; 
    padding: 0.5rem; 
  }

  .horizontalNavItems {
    display: flex;
    align-items: center;
    gap: 0.375rem;
  }

  .iconSizeSmall {
    height: 1rem;
    width: 1rem; 
  }

  .horizontalSpacingSmallTextZinc {
    margin-right: 0.25rem;
    font-size: 0.875rem;  
    color: #718096;      
  }

  .subduedText {
    color: #a0aec0;
  }

  .progressbarContainer {
    display: flex;
    justify-content: center; /* Horizontally center the item */
    align-items: center; /* Vertically center the item */
  }

  .loadingbar {
    z-index: 555;
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
    flex-direction: column;
    margin-block: 32px;
    display: flex;
  }

  .spinAnimation {
    animation: spin 1s linear infinite;
  }

  .smallSquare {
    height: 0.75rem;
    width: 0.75rem; 
  }

  .horizontalSpacingDouble {
    margin-right: 0.5rem;
  }

  .smallSquareWithOpacity {
    height: 1rem;
    width: 1rem; 
    opacity: 0.5;
  }

  .fullHeightWidthFlex {
    max-height: 100%;
    width: 100%;      
    flex-grow: 1;
    height: inherit;     
    
  }
  
  .maxHeightCalc {
    max-height: calc(100vh);
  }
  
  .centerLoading {
    display: flex;
    justify-content: center;
  }

  .loadingSpinner {
    margin-top: 6rem;
    height: 2rem;    
    width: 2rem;     
    animation: spin 1s linear infinite; 
    color: #3182ce;
  }

  .maxHeightFull {
    max-height: 100%;
  }

  .pageButton {
    background-color: transparent; 
    border-color: transparent;
    cursor: pointer;
  }

  .pageButtonWithoutCursor {
    background-color: transparent; 
    border-color: transparent;
  }

  .iconSizeSmall:hover {
    color: #4A5568;
  }

  .zoomButton {
    height: 2.25rem;
    border-radius: 0.375rem;
    padding-left: 0.75rem;  
    padding-right: 0.75rem; 
    transition: background-color 0.3s, color 0.3s;
    gap: 0.375rem;
  }

  .zoomButton:hover {
    background-color: #E5E7EB;
    color: #4A5568;
  }

  .errorBorder {
    border-color: #EF4444;
  }
  
  .inputPage {
    height: 2rem;
    width: 2.5rem;
    border-radius: 0.375rem;
    border: 1px solid #ebe9e9;
    background-color: #fff;
    padding: 0.25rem;
    font-size: 0.875rem;
    outline: none;
    text-align: center;
    
  }
  .inputPage::-webkit-inner-spin-button,
  .inputPage::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  }

  .dropdown {
    background-color: transparent; 
    border-color: transparent;
  }