.slider {
    width: 100%;
    margin: 20px 28px;
  }
  
  .slide {
    text-align: left;
    padding: 0px; /* Add padding for spacing */
  }

  .slick-list {
    padding-right: 16px; /* Adjust the padding value as needed */
  }

  .arrowPrev,
  .arrowNext {
     color: #333; /* Adjust the color */
     width: 24px; /* Adjust the width */
     height: 24px; /* Adjust the height */
     cursor: pointer;
   }

   .arrowPrev {
    position: absolute;
    top: 50%;
    left: -24px; /* Adjust the distance from the left edge */
    transform: translateY(-50%);
   }

   .arrowNext {
    /* Adjust the styles for the right arrow */
    position: absolute;
    top: 50%;
    right: 16px; /* Adjust the distance from the right edge */
    transform: translateY(-50%);
  }

  .pageNumber {
    display: block;
    font-weight: bold;
    margin-bottom: 4px;
  }
  
  .sentence {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Limit to three lines */
    -webkit-box-orient: vertical;
    max-height: 4.5em; /* Adjust based on your font size */
    text-overflow: ellipsis;
    white-space: normal;
    padding-right: 42px;
  }