.container {
    width: 75%;
    align-items: center;
    margin-left: 64px;
  }
  
  .filterRow {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    cursor: pointer;
  }
  
  .icon {
    width: 24px; /* Adjust as needed */
    height: 24px; /* Adjust as needed */
  }

  .arrowIcon {
    width: 24px;
    height: 24px;
    transform: rotate(270deg);
  }

  .spacer {
    flex-grow: 1; /* This will push the arrow icon to the end */
  }
  
  .title {
    /* Adjust as needed */
    margin-left: 4px;
    color: var(--color-dimgray-200);
    font-size: small;
  }
  
  .arrowIconWrapper {

  }
  
  .horizontalLine {
    width: 100%;
    margin: 0 auto;
    border: none;
    border-top: 1px solid var(--color-divider); /* Adjust color as needed */
  }

  .sliderTags {
    font-size: smaller;
    color: var(--color-darkgray);
    margin-top: 2px;
  }

  .range {
    display: inline-flex;
    margin-right: 8px;
  }

  .rangeInput {
    background: transparent;
    border: none;
    max-width: 64px;
    margin-left: 6px;
    font-size: large;
    font-weight: 600;
  }

  .slider {
    color: var(--color-sandybrown);
    
  }